body { 
    background: url(https://cdn.eso.org/images/screen/potw1428a.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    margin: 0;  
}

/* Sun */
.sun {
    margin-left: 58px;
    margin-top: -80px;
    width: 50px;
    height: 50px;
    background: rgb(249, 168, 7);
    box-shadow: 1px 1px 21px 9px rgb(233, 185, 41);
    border-radius: 50%;
    position: absolute;
}

/* Orbit for Mercury */
.orbit-marcury {
    margin-left: 57px;
    margin-top: -77px;
    width: 200px;
    height: 200px;
    border:  2px solid rgba(126, 125, 125, 0.399);
    border-radius: 50%;
    position: relative;
    animation: orbit-rotate 12s linear infinite; /* Rotate the whole orbit */
}

/* Mercury */
.marcury {
    background-image: url('https://solarsystem.nasa.gov/system/feature_items/images/18_mercury_new.png');
    background-size: cover;
    background-position: center;
    
    width: 30px; /* Adjusted size to fit the image */
    height: 30px; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

/* Venus */
.orbit-venus {
    margin-left: 15px;
    margin-top: -242px;
    width: 280px;
    height: 280px;
    border: 2px solid rgba(101, 101, 101, 0.894);
    border-radius: 50%;
    position: absolute;
    animation: orbit-rotate 10s linear infinite;
}

.venus {
    background-image: url('https://solarsystem.nasa.gov/system/feature_items/images/27_venus_jg.png');
    background-size: cover;
    background-position: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

/* Earth */

.orbit-Earth {
    margin-left: -33px;
    margin-top: -290px;
    width: 380px;
    height: 380px;
    border: 2px solid rgba(101, 101, 101, 0.894);
    border-radius: 50%;
    position: absolute;
    animation: orbit-rotate 10s linear infinite;
}

.Earth {
    background-image: url('https://solarsystem.nasa.gov/system/feature_items/images/17_earth.png');
    background-size: cover;
    background-position: center;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

/* Mars */

.orbit-mars {
    margin-left: -71px;
    margin-top: -319px;
    width: 450px;
    height: 450px;
    border: 2px solid rgba(101, 101, 101, 0.894);
    border-radius: 50%;
    position: absolute;
    animation: orbit-rotate 12s linear infinite;
}

.mars {
    background-image: url('https://solarsystem.nasa.gov/system/feature_items/images/19_mars.png');
    background-size: cover;
    background-position: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

/* Jupitar */

.orbit-jupitar {
    margin-left: -112px;
    margin-top: -356px;
    width: 526px;
    height: 526px;
    border: 2px solid rgba(101, 101, 101, 0.894);
    border-radius: 50%;
    position: absolute;
    animation: orbit-rotate 15s linear infinite;
}

.jupitar {
    background-image: url('https://solarsystem.nasa.gov/system/feature_items/images/16_jupiter_new.png');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

/* saturn */

.orbit-saturn {
    margin-left: -151px;
    margin-top: -388px;
    width: 595px;
    height: 595px;
    border: 2px solid rgba(101, 101, 101, 0.894);
    border-radius: 50%;
    position: absolute;
    animation: orbit-rotate 13s linear infinite;
}

.saturn {
    background-image: url('https://solarsystem.nasa.gov/system/feature_items/images/28_saturn.png');
    background-size: cover;
    background-position: center;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}


/* Neptunre */

.orbit-neptune {
    margin-left: -228px;
    margin-top: -450px;
    width: 740px;
    height: 740px;
    border: 2px solid rgba(75, 71, 53, 0.829);
    border-radius: 50%;
    position: absolute;
    animation: orbit-rotate 16s linear infinite;
}

.neptune {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Neptune_Voyager2_color_calibrated.png/800px-Neptune_Voyager2_color_calibrated.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}



/* Orbit rotation animation */
@keyframes orbit-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* span */

span{
    position:absolute;
    top: 90%;
    left: 70%;
    width: 2px;
    height: 4px;
    background: #f9ece4;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
}

span::before {
    content:'';
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height:1px;
    background: linear-gradient(90deg,#fff,transparent);
}

@keyframes animate{
    0%{
        transform: rotate(315deg)
    translateX(0);
    opacity:6;
    }
    70%{
        opacity:5;
    }
    100{
        transform: rotate(315deg)
    translateX(-1000px);
    opacity:0}
    }

span:nth-child(1){
    top: 300;
    right: 380;
    left: initial;
    animation-delay: 1s;
    animation-duration: 2s ;
}

span:nth-child(2){
    top: 600;
    right: 680;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 6s ;
}





